# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Generated output files
outputs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/
env/

# doc
doc/